---
layout: page
title: david out of context
---

<div id="index">
	<div id="posts">
		{% for page in paginator.posts %}
			{% if page.publish %}
				<div class="post">
					{% include title_row.html %}

					{% if post.image %}
					<img src="{{ page.image }}"/>
					{% endif %}

					<div class="content">
						{{ page.content }}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div id="pagination">
		<ul>
			{% if paginator.next_page %}
		    <li class="next"> 
				<a href="/page{{paginator.next_page}}" title="Next Page" class="next" rel="next">&larr; Older Posts</a>
			</li>
	  		{% endif %}
		
		  	{% if paginator.previous_page %}
		    <li class="prev">
				{% if paginator.previous_page == 1 %}
	      		<a href="/" title="Previous Page" class="prev">Newer Posts &rarr;</a>
      			{% else %}
				<a href="/page{{paginator.previous_page}}" title="Previous Page" class="prev" rel="prev">Newer Posts &rarr;</a>
				{% endif %}
			</li>
		  	{% endif %}
		</ul>
	</div>
</div>
