
/* Calico Swatch
https://color.adobe.com/Calico-color-theme-2050808/
#D4C9CD
#272324
#706968
#C19C7D
#FDFFFF
*/

/* sandy stone beach ocean diver Swatch
https://color.adobe.com/sandy-stone-beach-ocean-diver-color-theme-15325/
#E6E2AF 230/226/175
#A7A37E 167/163/126
#EFECCA 239/236/202
#046380 4/99/128
#002F2F 0/47/47
*/

body {
  padding: 5% 0;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color:#A7A37E;
  color:#002F2F;
  margin:0;
}

.container {
  display: table;
  margin: 0 auto;
  width:300px;
  text-align:center;
  background-color: #EFECCA;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

header {
  padding: 40px 0 20px;
}

header .headshot {
  width: 125px;
  border-radius: 250px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

main {
  background-color:#E6E2AF;
  padding:40px 10px;
}

main p {
  margin-bottom:30px;
}

.contact-button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.contact-button:focus {
  outline: none
}

.contact-button:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}

.contact-button:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

footer {
  padding:40px 10px;
  /*background-color: #A7A37E;*/
  color:#FDFFFF;
}

footer i {
  color:#6496c8;
}

ul.inline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:relative;
}

ul.inline:after {
  content:'';
  display:block;
  clear: both;
}

ul.inline li {
  float:right;
  height:40px;
  padding: 5px 10px;
}
