<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-wid  th, initial-scale=1.0">
	<link href="/assets/css/splash.css" rel="stylesheet" type="text/css"/>

	<!-- RSS FEED -->
	<link href="{{ site.feed }}" rel="alternate" type="application/atom+xml" title="David Kuchar" />
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<title>David Kuchar</title>

	{% include analytics.html %}
</head>

<body>

	<header>
		<div class="container">
			<img class="headshot" src="assets/img/david_kuchar_headshot.jpg">
			<h1>David Kuchar</h1>
		</div>
	</header>

	<main>
		<div class="container">
			<p>Entrepreneur, Software Architect</p>
			<a class="contact-button" href="mailto:hello@davidkuchar.com">Contact me</a>
		</div>
	</main>

	<footer>
		<div class="container">
			<ul class="inline">
				<li><a href="http://instagram.com/davekuchar" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
				<li><a href="https://www.linkedin.com/in/davidkuchar" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
				<li><a href="https://github.com/davidkuchar" target="_blank"><i class="fa fa-github-square fa-2x"></i></a></li>
				<li style="margin-top:5px;"><a href="https://angel.co/davidkuchar?follow=1&type=User&id=31813"></a><script src="https://angel.co/javascripts/embed.js" type="text/javascript"></script></span></li>
			</ul>
		</div>
	</footer>

	<script src="/assets/css/splash.js"></script>

</body>
</html>
